* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: cadetblue;
  width: 100%;
}

nav>ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-item {
  padding: 2rem;
}